
body{
    background-color:white;
    width: auto;
    height: auto;
   
}

/* navbar */
.container {
    display: grid;
    
    grid-gap: 2px;
    grid-template-areas:
        'navbar navbar'
        'aside1 aside2';
        flex-wrap: nowrap;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;


}

.item {
    background-color: white;
    /* border: 3px solid black; */
    padding: 10px 10px;
    margin: 50px 50px 50px 50px;
    display: flex;
    align-items: end;
}

/* navbar */
#navbar {
    grid-area: navbar;
}

#aside {
    grid-area: aside;
}


.container .item h2 {
    margin: 5px;

}

.container .item ul {
    display: flex;
}

.container .item ul li {
    margin: 5px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;


}

.container .item ul li img {
    width: 20px;
    height: 20px;



}

.container .item ul li a {
    margin: 5px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;


}
.container .item ul li a{
    color: black;
    


}
.container .item ul li a:active{
    color: blue;
    


}
.container .item ul li a:hover{
    color: blue;
    


}

/* profile */

.profile {
    background-color:white;
    /* border: 3px solid black; */
    padding: 10px 10px;
    margin: 50px 50px 50px 50px;

}

/* prafraph */
.container div p {

    text-align: justify;
  font-size: 17px;
   line-height: 27px;

}
/* edcation Table */

table tr th{
    list-style: none;
    font-size: 18px;
    padding: 10px;
}

/* Heading icons */

.container div h2 #icon {

    width: 30px;
    height: 30px;
    margin-right: 12px;

}


/* skill */
.checked {
    color: orange;

}


li {
    list-style: none;
    font-size: 18px;
    padding: 10px;
}